.niz-service-image-wrapper {
  width: 100%;
  height: 160px;
  background-color: #f3f4f6;
  overflow: hidden;
}

.niz-service-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
