/* BASE BUTTON */
.niz-btn {
  padding: 10px 18px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  transition: all 0.2s ease;
}

/* PRIMARY */
.niz-btn-primary {
  background-color: #0b5ed7;
  color: #ffffff;
}

.niz-btn-primary:hover {
  background-color: #094bb5;
}

/* OUTLINE */
.niz-btn-outline {
  background-color: transparent;
  border: 1px solid #0b5ed7;
  color: #0b5ed7;
}

.niz-btn-outline:hover {
  background-color: #0b5ed7;
  color: #ffffff;
}

/* DANGER */
.niz-btn-danger {
  background-color: #dc2626;
  color: #ffffff;
}

.niz-btn-danger:hover {
  background-color: #b91c1c;
}

/* DISABLED */
.niz-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
